<div class="card">
  <div class="card-body" *ngIf="option">
    <form (submit)="submit(frm)" #frm>
      <div class="row">
        <div class="col col-md-6">
          <div class="form-group">
            <label>{{productCreateOptionTitleModel?.nameCol}} (*)</label>
            <input type="text" name="optionName" class="form-control"  [(ngModel)]="option.name" required />
          </div>
        </div>
        <div class="col col-md-6">
          <div class="form-group">
            <label>{{productCreateOptionTitleModel?.Description}}</label>
            <textarea class="form-control" name="optionDesc"  [(ngModel)]="option.description"></textarea>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="form-group">
            <label>{{productCreateOptionTitleModel?.Key}}</label>
            <input type="text" name="key" class="form-control"  [disabled]="option._id" [(ngModel)]="option.key" />
          </div>
        </div>
        <div class="col col-md-12">
          <div class="form-group">
            <label>{{productCreateOptionTitleModel?.Options}}</label>
            <table class="table">
              <tr>
                <td>{{productCreateOptionTitleModel?.Key}}</td>
                <td>{{productCreateOptionTitleModel?.Displaytext}}</td>
                <td>{{productCreateOptionTitleModel?.Actions}}</td>
              </tr>
              <tr *ngFor="let option of option.options; let i = index">
                <td>{{option.key}}</td>
                <td>{{option.displayText}}</td>
                <td>
                  <a (click)="removeOption(i)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text"  class="form-control" name="newOptionKey" [(ngModel)]="newOption.key" />
                </td>
                <td>
                  <input type="text"  class="form-control" name="newOptionText" [(ngModel)]="newOption.displayText" />
                </td>
                <td>
                  <button class="btn btn-primary" (click)="addOption()" type="button">{{productCreateOptionTitleModel?.Create}}</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col col-md-12">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{productCreateOptionTitleModel?.Submit}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>