<div class="condition">
  <div class="row">
    <div class="col-md-3"><label class="title">{{'Condition' | translate}} {{'Promotion only' | translate | lowercase}}</label></div>
    <div class="col-md-2">    
      <div class="form-group">
        <select class="form-control" name="conditionType" (change)="onChangeConditionType($event)" [(ngModel)]="conditionType" [attr.disabled]="isEdit ? '' : null">
          <option *ngFor="let item of arrPromotionConditionType" [ngValue]="item">{{item |translate}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label >{{'Cart bought with quantity' | translate}}</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="number" class="form-control" [disabled]="isEdit" (change)="changePromotionCart()" [(ngModel)]="totalOrderPriceCondition" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>{{'Promotion only' | translate | lowercase}} ({{unitType}})</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input *ngIf="conditionType == PromotionConditionType.percent" type="number" class="form-control" [disabled]="isEdit" (change)="changePromotionCart()" (keyup)="onCheckPercentOrCash($event)" [(ngModel)]="discountOrderPercentOrCash" />
        <input *ngIf="conditionType == PromotionConditionType.cash" type="text" class="form-control" [disabled]="isEdit" (change)="changePromotionCart()" (keyup)="onCheckPercentOrCash($event)"
        [ngModel]="discountOrderPercentOrCash | number" 
        (ngModelChange)="discountOrderPercentOrCash = currencyInputChanged($event)" 
        (keydown)="kd_checkNumber($event)"/>
      </div>
    </div>
  </div>
  <label style="font-weight: 600;" translate >Applies to products</label>
  <div class="row"> 
    <div class="col-md-2">
      <div class="form-group">
        <label translate >Product Type</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="category" name="categoryId" [attr.disabled]="isEdit ? '' : null">
          <option value="">-- {{'No category' | translate}} --</option>
          <option *ngFor="let item of tree" [ngValue]="item._id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>{{'Product ID' | translate}}</label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <input type="text" class="form-control" /> -->
        <item-select [keyChange]="keychange" [isEdit]="isEdit" [categoryId]="category" (State)="importProduct($event)" (arrState)="importArrProduct($event)" ></item-select>
      </div>
    </div>
    <div class="col-md-1">
      <a (click)="addProduct()" *ngIf="!isEdit"><i class="fa fa-plus-circle" style="color: #0cda08; font-size: 25px;line-height: 38px;"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table class="table" *ngIf="arrProduct.length != 0; else orderListEmpty">
        <thead>
          <tr>
            <th>{{'Product Type' | translate}}</th>
            <th>{{'Product ID' | translate}}</th>
            <th>{{'Product name' | translate}}</th>
            <th>{{'Qty' | translate}} {{'Regulations' | translate | lowercase}}</th>
            <th><a (click)="removeAllProduct()" *ngIf="!isEdit">
              <i class="fa fa-trash"></i>
            </a></th>
            <th *ngIf="!isEdit"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrProduct, let i = index">
            <td>{{item?.category}}</td>
            <td>{{item?.sap}}</td>
            <td>{{item?.name}}</td>
            <td><input type="number" style="width: 80px;" (change)="changePromotionCart()" [(ngModel)]="item.quantity" [disabled]="isEdit || checkValueQuantity"></td>
            <td *ngIf="!isEdit"><a (click)="remove(i)">
              <i class="fa fa-trash"></i>
            </a></td>
          </tr>
        </tbody>
      </table>
      <ng-template #orderListEmpty>
        <div class="order-list-empty">
          <p class="depth" translate >No products found</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>