<?xml version='1.0' encoding='utf-8'?>
<plugin id="zalopayplugin" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ZaloPayPlugin</name>
    <js-module name="ZaloPayPlugin" src="www/ZaloPayPlugin.js">
        <clobbers target="cordova.plugins.ZaloPayPlugin" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ZaloPayPlugin">
                <param name="ios-package" value="ZaloPayPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/ZaloPayPlugin.m" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZaloPayPlugin">
                <param name="android-package" value="ZaloPayPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/ZaloPayPlugin.java" target-dir="src/ZaloPayPlugin" />
    </platform>
</plugin>
