<ion-header style="text-align: center" class="cart_header">
  <ion-navbar class="header-block pr-15" hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="onBack()">
        <ion-icon
          ios="ios-arrow-back"
          md="md-arrow-back"
          style="font-size: 25px"
        ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <strong translate>{{'Mua sản phẩm ưu đãi'}}</strong><br />
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="cart" no-scroll class="cart_content">
  <ion-grid style="padding: 20px">
    <p
      text-left
      style="font-size: 15px; height: 40px; color: red; font-weight: bold"
    >
      {{'Đơn hàng đạt giá trị'}} {{totalPriceCondition | number : '1.0-0'}}đ.
      {{'Bạn có thể mua 1 trong các sản phẩm sau với giá ưu đãi: '}}
    </p>
    <ion-row>
      <ion-col
        *ngFor="let item of listProduct"
        text-center
        col-4
        (click)="active(item)"
      >
        <img [src]="item.product.mainImage?.mediumPath | checkPhoto" width="75" />
        <p text-left style="font-size: 10px; height: 40px">
          {{item?.product.name}}
        </p>
        <p
          text-left
          style="color: red; font-size: 12px; height: 40px"
          translate
        >
          Chỉ với {{item.product.salePrice - (item.product.salePrice *
          item.discountOnProductPercent)/100 | number : '1.0-0'}}đ
        </p>
        <div>
          <span
            [class.active]="item._id == selectItem"
            style="
              height: 30px;
              width: 30px;
              border-radius: 50%;
              background-color: #978c8c;
              display: inline-block;
            "
          ></span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="mt-30" col-12 text-center>
        <button
          (click)="goTo()"
          style="width: 85px; height: 25px; border-radius: 3px"
          class="btn btn-primary"
          translate
        >
          {{'Xác nhận'}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
