:root {
    --color-primary: #ffd21c;
    --color-primary-bold: #dfb91e;
    --color-secondary: #ccae39;
    --color-secondary-bold: #b59100;
    --color-tertiary: #ffd21c;

    --color-light: #e5e5e5;
    --color-light-gray: #c7c7c7;
    --color-dark: #6d6d6d;
    --color-dark-gray: #979797;
    --color-background: #ffffff;

    --color-text: #000000;
    --color-text-light: #ffffff;

    --color-green: green;

    --font-family-bold: "dejavu-sans.bold-oblique";

    --font-size: 12px;
}
