<app-header title="Thay đổi mật khẩu"></app-header>

<div class="aesert"></div>
<div class="desert"></div>
<ion-content
  class="common-bg bg-transparent page-change-pass animated fadeIn"
  padding
>
  <ion-list no-lines>
    <div style="padding: 5px 30px">
      <!-- <ion-label>Mật khẩu hiện tại (*)  </ion-label>  -->
      <ion-item class="pass">
        <ion-input
          [type]="password_type_1"
          placeholder="Mật khẩu hiện tại"
          [ngClass]="{'error': oldpassword.errors && (oldpassword.dirty || oldpassword.touched || submitted )}"
          autocomplete="off"
          #oldpassword="ngModel"
          required
          name="oldpassword"
          [(ngModel)]="input.oldPassword"
          clearOnEdit="false"
        >
        </ion-input>
        <button
          ion-button
          clear
          type="button"
          item-right
          (click)="togglePasswordMode_1()"
          style="position: absolute; right: 0; background: transparent"
        >
          <ion-icon clear [name]="eye_type_1" slot="end"></ion-icon>
        </button>
      </ion-item>
      <div
        *ngIf="oldpassword.errors  && (oldpassword.dirty || oldpassword.touched || submitted)"
        class="font-err"
      >
        <p
          [hidden]="!oldpassword.errors.required"
          ion-text
          color="danger"
          translate
        >
          Vui lòng nhập mật khẩu
        </p>
      </div>
      <!-- <div *ngIf="!this.checkValid" class="font-err">
        <p *ngIf="!this.checkValid" ion-text color="danger" translate>
          Mật khẩu phải dài ít nhất 8 ký tự, chứa chữ hoa, chữ thường và chữ số
        </p>
      </div> -->
    </div>
    <div style="padding: 5px 30px">
      <!-- <ion-label>Mật khẩu (*)  </ion-label>  -->
      <ion-item class="pass">
        <ion-input
          [type]="password_type_2"
          placeholder="Mật khẩu"
          [ngClass]="{'error': password.errors && (password.dirty || password.touched || submitted )}"
          (ionBlur)="checkvalidPass()"
          autocomplete="off"
          #password="ngModel"
          required
          name="password"
          [(ngModel)]="input.password"
          clearOnEdit="false"
        ></ion-input>
        <button
          ion-button
          clear
          type="button"
          item-right
          (click)="togglePasswordMode_2()"
          style="position: absolute; right: 0; background: transparent"
        >
          <ion-icon clear [name]="eye_type_2" slot="end"></ion-icon>
        </button>
      </ion-item>
      <div
        *ngIf="password.errors  && (password.dirty || password.touched || submitted)"
        class="font-err"
      >
        <p
          [hidden]="!password.errors.required"
          ion-text
          color="danger"
          translate
        >
          Vui lòng nhập mật khẩu
        </p>
      </div>
      <div *ngIf="!this.checkValid" class="font-err">
        <p *ngIf="!this.checkValid" ion-text color="danger" translate>
          Mật khẩu phải dài ít nhất 8 ký tự, chứa chữ hoa, chữ thường và chữ số
        </p>
      </div>
    </div>

    <div style="padding: 5px 30px">
      <!-- <ion-label>Xác nhận mật khẩu (*)</ion-label>  -->
      <ion-item class="pass">
        <ion-input
          [type]="password_type_3"
          autocomplete="off"
          required
          placeholder="Xác nhận mật khẩu"
          [ngClass]="{'error': rePassword.errors && (rePassword.dirty || rePassword.touched || submitted )}"
          #rePassword="ngModel"
          required
          name="rePassword"
          [(ngModel)]="input.rePassword"
          clearOnEdit="false"
        ></ion-input>
        <button
          ion-button
          clear
          type="button"
          item-right
          (click)="togglePasswordMode_3()"
          style="position: absolute; right: 0; background: transparent"
        >
          <ion-icon clear [name]="eye_type_3" slot="end"></ion-icon>
        </button>
      </ion-item>
      <div
        *ngIf="rePassword.errors && (rePassword.dirty || rePassword.touched || submitted)"
        class="font-err"
      >
        <p
          [hidden]="!rePassword.errors.required"
          ion-text
          color="danger"
          translate
        >
          Vui lòng nhập xác nhận mật khẩu
        </p>
      </div>
      <div
        *ngIf="(input.password !== input.rePassword)"
      >
        <p ion-text style="font-style: italic" color="danger" translate>Mật khẩu không trùng khớp!</p>
      </div>
    </div>

    <ion-row responsive-sm>
      <ion-col>
        <button
          class="linear-bunting-flirt button-50 bt-login"
          ion-button
          color=""
          block
          (click)="changePassword()"
        >
          <span translate>Update</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
