.title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  h4 {
    color: #000000;
    font-size: 30px;
  }
  .fa {
    font-size: 35px;
    color: chartreuse;
    margin-left: 30px;
  }
}
table {
  tr {
    th {
      color: #000000;
      font-weight: normal;
      padding-right: 10px;
      &:last-child {
        padding-right: 0;
        padding-left: 10px;
      }
      .fa {
        font-size: 27px;
      }
      input {
        height: 40px;
        margin: 5px 0;
        padding-left: 10px;
      }
    }
  }
}
