<div class="card">
  <div class="card-block table-responsive">
    <div class="row mt-3 ml-1 mb-3">
      <div class="col-md-3">
        <div class="input-group input-date">
          <span class="text-center">{{'From' | translate}}:</span>&nbsp;
          <input type="text" class="form-control br-l" placeholder="yyyy-mm-dd" name="startDate"
            [(ngModel)]="searchFields.startDate" ngbDatepicker #startDate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar br-r" (click)="startDate.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group input-date">
          <span>{{'To' | translate}}:</span>&nbsp;
          <input type="text" class="form-control br-l" placeholder="yyyy-mm-dd" name="toDate"
            [(ngModel)]="searchFields.toDate" ngbDatepicker #toDate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar br-r" (click)="toDate.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-success" (click)="query()">{{'Search' | translate}}</button>
        <button type="button" class="btn btn-info ml-4" (click)="exportCSV()">{{'ExportData' | translate}}</button>
      </div>
    </div>
    <table class="table table-custom">
      <thead>
        <tr>
          <th>
            <a (click)="sortBy('username', 'desc')">{{'User name' | translate}}</a>
            <span *ngIf="sortOption.sortBy=='username'">
              <a (click)="sortBy('username', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('username', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('code', 'desc')">{{'Ticket Code' | translate}}</a>
            <span *ngIf="sortOption.sortBy=='code'">
              <a (click)="sortBy('code', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('code', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('orderNumber', 'desc')">{{'Order Number' | translate}}</a>
            <span *ngIf="sortOption.sortBy=='orderNumber'">
              <a (click)="sortBy('orderNumber', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('orderNumber', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('orderNumber', 'desc')">{{'Sản Phẩm' | translate}}</a>
          </th>
          <th>
            <a (click)="sortBy('orderNumber', 'desc')">{{'Description' | translate}}</a>
          </th>
          <th>
            <a (click)="sortBy('createdAt', 'desc')">{{'Create At' | translate}}</a>
            <span *ngIf="sortOption.sortBy=='createdAt'">
              <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'"><i
                  class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'"><i
                  class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            {{'Actions' | translate}}
          </th>
        </tr>
        <tr>
          <th>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="searchFields.username" (keypress)="keyPress($event)" />
            </div>
          </th>
          <th>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="searchFields.code" (keypress)="keyPress($event)" />
            </div>
          </th>
          <th colspan="1"></th>
          <th>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="searchFields.productName" (keypress)="keyPress($event)" />
            </div>
          </th>
          <th colspan="1"></th>
          <th class="text-center">
            <button type="button" class="btn btn-success" (click)="query()">{{'Filter' | translate}}</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!total && !isLoading">
          <td colspan="11">
            <p class="text-center text-danger">{{'There is no user buy ticket yet' | translate}}..</p>
          </td>
        </tr>
        <tr *ngFor="let item of itemsInPage, let i = index">
          <td>{{item.username}}</td>
          <td>{{item.code}}</td>
          <td>{{item.orderNumber}}</td>
          <td>{{item?.eventVoucher?.eventProduct?.product?.name}}</td>
          <td>{{item.description}}</td>
          <td>
            <span>{{item.createdAt | date :'dd/MM/yyyy'}}</span>
          </td>
          <td class="text-center">
            <a (click)="openDescriptionModal(item._id)">
              <i class="fa fa-pencil"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" *ngIf="total > 10">
            <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" (pageChange)="pageChange()">
            </ngb-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>