.promotion {
  background: #ffffff;
  padding: 30px;
}
.fw {
  font-weight: bold;
}
.date-input-disable{
  background-color: #ffffff;
}
.date-input-disable-hub{
  background-color: #f0f2f4;
}
label {
  color: #000000;
}
.required {
  font-size: 18px;
  &::after {
    content: "(*)";
    color: red;
    position: absolute;
    margin-left: 10px;
    font-weight: bold;
  }
}
input[type="text"] {
  height: 38px;
  width: 100%;
}
table.table-object {
  width: 100%;
  tbody {
    tr {
      border-bottom: 1px solid #999494;
      &:first-child {
        border-top: 1px solid #999494;
      }
       td {
        padding: 5px 0;
        text-align: center;
      }
    }
  }
}
.error {
  line-height: 38px;
  font-size: 15px;
}
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.input-group-append{
  height: 38px;
}

::ng-deep{
  .time-picker{
    align-items: center;
    justify-content: center;
    display: flex;
  }

  ngb-datepicker{
    padding: 0px !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    transform: translate(0px, -86px) !important;
  }
}